<title>{=$title}</title>
<meta name="description" content="{=$description}" />
<link rel="canonical" href="https://barbs-bites-cafe.netlify.app{=$path}" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://barbs-bites-cafe.netlify.app/" />
<meta property="og:title" content="{=$ogTitle}" />
<meta property="og:description" content="{=$description}" />

<meta
  property="og:image"
  content="https://barbs-bites-cafe.netlify.app{=$ogImage}"
/>

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://barbs-bites-cafe.netlify.app/" />
<meta property="twitter:title" content="Barb's Bites Cafe" />
<meta
  property="twitter:description"
  content="Delicious home-style cooking and treats at Barb's Bites."
/>
<meta
  property="twitter:image"
  content="https://barbs-bites-cafe.netlify.app{=$ogImage}"
/>
